{% extends "base.html" %}

{% block title %}Translate Text{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Translate Text</h2>
        <form id="translate-form" class="mt-3">
            <div class="mb-3">
                <label for="text" class="form-label">Enter text:</label>
                <textarea name="text" id="text" rows="3" class="form-control" required></textarea>
                <button type="button">mic</button>
            </div>
            <div class="mb-3">
                <label for="target_lang" class="form-label">Target Language:</label>
                <select id="target_lang" class="form-select" name="target_lang">
                    <option value="en">English</option>
                    <option value="vi">Vietnamese</option>
{#                    <option value="cn">Chinese</option>#}
{#                    <option value="ja">Japanese</option>#}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Translate</button>
        </form>
        <h3 class="mt-3" id="translatedText"></h3>
    </div>

    <script>
        document.getElementById("translate-form").addEventListener("submit", async function(event) {
            event.preventDefault();

            let text = document.getElementById("text").value;
            let target_lang = document.getElementById("target_lang").value;

            try {
                let response = await fetch("/translate", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ text: text, target_lang: target_lang })
                });

                let data = await response.json();

                if (data.success) {
                    document.getElementById("translatedText").innerText = "Kết quả: " + data.translated_text;
                } else {
                    document.getElementById("translatedText").innerText = "Lỗi: " + data.error;
                }
            } catch (error) {
                console.error("Lỗi:", error);
                document.getElementById("translatedText").innerText = "Lỗi khi gửi request!";
            }
        });
    </script>
{% endblock %}