{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Update Profile</h2>
        <form method="POST" class="mt-3" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">New Username:</label>
                <input type="text" name="username" class="form-control" value="{{ current_user.username }}">
            </div>
            <div class="mb-3">
                <label class="form-label">New Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Upload Avatar:</label>
                <input type="file" name="avatar" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Profile</button>
        </form>
    </div>
    <div class="text-center mt-3">
        <h3>Current Avatar:</h3>
        <img src="{{ url_for('static', filename='uploads/' + current_user.avatar) }}" alt="Avatar" width="150">
    </div>
{% endblock %}